<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Modules</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-fab name="add-circle-sharp" slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button (click)="addModule()" style="font-size: xx-large;">+</ion-fab-button>
  </ion-fab>
  <ion-accordion-group>
    <ion-accordion *ngFor='let module of newModules'>
      <ion-item slot="header" color="light">
        <ion-label>{{module.moduleName}}</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">Module Number: {{module.moduleNo}}</div>
      <div class="ion-padding" slot="content">Module Website: {{module.website}}</div>
      <div class="ion-padding" slot="content">Class Location: {{module.location}}</div>
      <div class="ion-padding" slot="content">Class Room: {{module.room}}</div>
      <div class="ion-padding" slot="content">Assingment Due Date: {{module.dueDate}}</div>
      <div class="ion-padding" slot="content">Module Credits: {{module.credits}}</div>
      <div class="ion-padding map-container" slot="content" id="mapId{{module.moduleNo}}" (click)="setMap(module)">Click to see on Map</div>
    </ion-accordion>
  </ion-accordion-group>
</ion-content>
